@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  height: 100vh; /* Set the height of the background to the viewport height */
  overflow: hidden; /* Hide vertical scrollbar */
  background: #1f1f1f;
}

.site-content {
  overflow-y: auto; /* Allow content to scroll vertically if needed */
  height: 100vh;
}

/* Hide the up and down arrows in number inputs */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}